[2014-04-17 01:55] svenstaro opened #9 "Add better documentation for user_handler and current_user"
It appears there something like current_user from flask_login, sadly it doesn't appear to be documented. Could you add documentation on that?

Also, user_handler is not sufficiently documented, I think. Why do I need it if I already have the auth handler?

[2014-05-15 22:19] sloria opened #10 "[question] itsdangerous vs PyJWT?"
Why use PyJWT instead of itsdangerous, which has an [implementation of JWS](http://pythonhosted.org/itsdangerous/#json-web-signatures)?

[2014-05-28 03:17] sloria opened #14 "Specify all handlers using decorators instead of app config values?"
There are currently two different ways to specify handlers:
- App config values: `JWT_ENCODE_HANDLER`, `JWT_DECODE_HANDLER`, `JWT_PAYLOAD_HANDLER`
- Decorators: `JWT#user_handler`, `JWT#error_handler`

Why not just have one mechanism for defining these handlers? Personally, the decorator syntax feels most natural:

[code]

This makes for a more consistent and cohesive API.

[2014-05-28 03:43] #9 closed, assigned to nobody

[2014-06-05 15:06] #14 closed, assigned to nobody

[2014-06-10 17:09] #10 closed, assigned to nobody

[2014-10-04 07:57] HelloGrayson opened #28 "Use with Github-Flask?"
I'm currently using [github-flask](https://github.com/cenkalti/github-flask) to allow my users to authenticate  - you think its possible to avoid cookies to remember the session and instead use flask-jwt?

Thanks!

[2014-10-04 10:09] #28 closed, assigned to nobody

[2014-10-04 10:11] HelloGrayson opened #29 "Refresh/Extend token life"
Thoughts?

[2014-10-05 00:50] HelloGrayson opened #30 "Testing support."
Can you suggest how to go about testing views that are protected with the `jwt_required` decorator?

Thanks much

[2014-10-05 01:24] #30 closed, assigned to nobody

[2014-10-27 18:59] alexandre opened #32 "Error handler not works"
Hi,

I'm testing this project and the error handler have returned a 500 status code and not the status code that showed in this message:

[code]

My first idea was to create a specific class to handle it, but reading the source code you already did it. So, I just followed the example to create a error_handler function available on the docstring.

Some idea?

[ ]'s

[2014-10-28 14:49] #32 closed, assigned to nobody

[2014-11-06 22:46] efriese opened #33 "Why is _get_serializer() private?"
It seems like you allow the user to overwrite the default decoder method, but _get_serializer is a private method. I want to add some extra steps to decoding (I'm adding functionality to track and revoke tokens), but I can't see how I can write a new decoder without also having to rewrite a serializer.

Thanks for creating this module!

-Eric

[2014-11-26 14:40] bolimir opened #34 "Auth endpoint returns http 400 on bad credentials instead of 401"
I think that if user provides bad credentials, return code should be 401. 400 would mean that the request is malformed:

http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

flask_jwt/\_\_init\_\_.py:168

[2015-01-18 23:25] sureshjoshi opened #36 "Can JWTs be assigned without going to /auth?"
I've switched over all of my auth mechanisms to use JWTs across the board, but there is one workflow that would be great if there was an easy way to spit out a JWT from the library.

In my user registration workflow, they fill in their data, I add them to the database (after validation), I send them a confirmation mail, but now I'm requiring them to re-login to go through the @jwt_required workflo

[2015-01-18 23:30] mattupstate commented on #36
[code]

[2015-01-18 23:37] sureshjoshi commented on #36
Ah geez, that's embarrassing....   :)

For some reason, I was looking at these docs: https://pythonhosted.org/Flask-JWT/_modules/flask_jwt.html#JWT.error_handler  instead of on Github, which shows generate token, plain as day!

Thanks Matt!

[2015-01-18 23:37] #36 closed

[2015-01-19 03:54] sureshjoshi commented on #36
Is there any reason this last fix isn't in the pip repo? I'm pulling down 0.2.0 as far as I can tell, and generate token doesn't exist.

[2015-02-03 03:40] sureshjoshi commented on #36
Just to ping this one again, will the latest Git code be pushed to the global repo so pip install will find it? I can't seem to get pip to git pull, for the life of me.

[2015-02-08 03:28] jonny166 opened #37 "Issue when combined with Flask-restful Resource classes?"
Hi, I was having good luck with your package so far, but when I tried to integrate it with my Flask-restful resource classes, I ran into issues. Is there a way to use this decorator with Resource classes?  Here is a code snippet and error.  Thanks!

class Events(Resource):
    @marshal_with(eventFields, envelope="events")
    @jwt_required
    def get(self):
        return events.values()

Traceba

[2015-02-08 06:27] sureshjoshi commented on #37
Hi, I'm using Flask-Classy, rather than Flask-Restful, but have you tried using the 'method_decorators'

    class Events(Resource):
         method_decorators = [jwt_required()]

[2015-02-09 03:56] jonny166 commented on #37
Thanks!!  That fixed it.

However, now when those methods are called and the token is missing, invalid, or expired, it raises a JWTError and returns 500 "Internal Server Error".

I tried adding my own error_handler function with the @jwt.error_handler decorator, but that didn't seem to help as it wasn't being called when the errors were thrown.  In any case, I think the default _error_callback fun

[2015-02-09 04:38] sureshjoshi commented on #37
Well, not to take this too far off the main issue's track... Do you have sample code snippets? Also, are you using the most recent code? Not the one from Pip, but rather the latest code in Github?

For example, I call http://localhost:5000/api/v1/users
Without an Authorization header of any kind, and I get this (which is what I wanted):

{
    "description": "Authorization header was missing",

[2015-02-09 04:48] sureshjoshi commented on #37
Additional context: https://github.com/flask-restful/flask-restful/issues/372

[2015-02-09 19:18] jonny166 commented on #37
Thanks for the help.  Flask-Restful was hijacking the errors.  I figured out a good work around.  I overrode the flask-restful error_router method to defer to the original handler for Flask-JWT errors.

**I replaced this line in my code:**
[code]
**With the following**
[code]

[2015-02-09 19:18] #37 closed

[2015-02-21 19:52] mr337 opened #38 "New release"
Hi,

Wondering what is the plan on a new release on pypi? There have been some code changes that would be useful to get.

Thx!

[2015-02-22 15:50] patrickjahns commented on #38
You can always install from git - what`s the issue with that?

[2015-02-22 15:53] patrickjahns commented on #29
Currently exploring jwt-flask as part of a backend for a mobile application and also wonder what is the best practice for refreshing tokens...

[2015-02-22 22:10] mr337 commented on #38
Yeah I know, but it would be nice to pull from pypi. The fact that the release and HEAD are a little outdated and missing useful things like `generate_token` can be frustrating.

[2015-03-02 05:35] harmon25 opened #40 "exp claim in header rather than body ?"
Have had great success using this library with angular-jwt... until attempting to implement client side token expiry notifications...
the angular-jwt module has a function to check if a token is expired, it is looking in the JWT body for the exp claim - however it appears flask-jwt is writing the exp and iat to the JWT header by default?

Am I doing something wrong? or should the exp and iat be co

[2015-03-02 21:42] harmon25 commented on #40
Have managed to work around this by placing the exp formatted as time since epoch in the payload of the token.

It is not well documented but I believe the representation of dates in a JWT should be time since epoch...

There may be a better way of accomplishing this but the following is what I am using

[code]

[2015-03-09 06:26] sureshjoshi commented on #40
Hey @harmon25 , this isn't a Flask-JWT issue, but rather the underlying itsdangerous library. I ran into the same problem you did, but I'm using Satellizr

This issue is documented here: https://github.com/mitsuhiko/itsdangerous/pull/19

I think I had basically the same workaround, but I also added an iat tag.

    iat = calendar.timegm(datetime.utcnow().timetuple())
    exp = calendar.timegm((dat

[2015-03-10 04:34] harmon25 commented on #40
thanks joshi for confirming that for me, had a hunch it was related to itsdangerous.
Your solution is a bit more elegant than mine, will likely implement the kludge that way :+1:

[2015-03-10 04:34] #40 closed

[2015-03-10 04:50] astyfx commented on #38
+1

[2015-03-10 06:42] sureshjoshi commented on #38
+1

Also, for anyone googling, here is whats in my requirements.txt:
-e git+https://github.com/mattupstate/flask-jwt.git#egg=flask-jwt

[2015-04-08 15:38] ptxmac opened #41 "Misunderstanding of the difference between JWS and JWT"
Internally Flask-JWT are using the TimedJSONWebSignatureSerializer from its dangerous. Unfortunately this ISN'T a JWT generator. Instead it creates a JWS with some extra information in the header like 'exp'.

According to the JWT specification, all the claims are supposed to be part of the payload NOT the header. (They are allowed to be replicated in the header, but not if omitted in the payload)

[2015-04-08 18:03] mattupstate commented on #41
Yeah, I'm aware. I was a bit naive when I first wrote this. It's something that I want to address, but admittedly I've been having a hard time finding time to dedicate to open source lately.

[2015-04-08 18:14] ptxmac commented on #41
I currently have a use for JWT in a work-related flask project, so I might have a good opportunity to make changes and give them back to this project. I though it might be relevant to take a look at pyjwt as the base. It seems to be well supported, and is the "official" suggestion for python on http://jwt.io

[2015-04-09 13:37] rlam3 commented on #41
@ptxmac

I used the following workaround for the payload/claim... is this sufficient?

    @jwt.payload_handler
    def make_payload(user):
        data = dict()
        data["user_id"] = user.id
        datetimenow = datetime.now()
        data["nbf"] = time.mktime(datetimenow.timetuple())
        expiration = datetimenow + current_app.config['JWT_EXPIRATION_DELTA']
        data["exp"] = time.mkt

[2015-04-14 19:43] harmon25 commented on #41
@rlam3
yea that works - a bit faster to just directly return a dictionary.
[code]

[2015-04-15 09:25] fernandojsg opened #42 "Manually generate token"
I'm currently using flask-jwt in my project with angularjs frontend. The users can get the token providing  the user/pass and everything works just fine.

The problem appeared when I needed to get a token to authenticate an external application. I did the following:
[code]

As I didn't want to use app/password for the external api calls, but I needed the token I basically used your code to generat

[2015-04-16 06:54] lustdante opened #43 "UnboundLocalError if JWT_VERIFY_EXPIRATION is False"
[code]

Even if not checking expiration is not recommended, it should still be an option, but since timed serializer will not deserialize, it raises:

[code]

[2015-05-02 08:28] minhoryang commented on #29
+1

[2015-05-02 12:41] hafenr commented on #29
+1

[2015-05-02 13:57] rlam3 commented on #29
Why refresh and not request a new one?

[2015-05-02 15:56] patrickjahns commented on #29
Requesting a new one forces the user to log in again..  Unless you
implement a refresh token flow

[2015-05-03 08:37] minhoryang opened #44 "HAMC failed @ _get_serializer().dumps @ encode_handler @ generate_token"
Traceback (most recent call last):
  File "/usr/local/var/lib/pyenv/versions/3.4.2-server/lib/python3.4/site-packages/flask/app.py", line 1836, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/var/lib/pyenv/versions/3.4.2-server/lib/python3.4/site-packages/flask/app.py", line 1820, in wsgi_app
    response = self.make_response(self.handle_exception(e))
  File "/usr/

[2015-05-03 08:40] minhoryang commented on #44
And... I found the issue..
Don't use app.config['secret_key'] not app.config['SECRET_KEY'].

Problem happened, there are no key at HMAC, and HMAC is generated from _get_serializer().
and the key which is used at _get_serializer() is current_app.config['JWT_SECRET_KEY'].
and current_app.config['JWT_SECRET_KEY'] is same as app.config['SECRET_KEY'].

It's not same with app.config['secret_key'].

[2015-05-03 08:40] #44 closed

[2015-05-05 23:27] sureshjoshi commented on #29
+1

[2015-05-06 01:57] rlam3 commented on #29
@patrickjahns i just have my other end of the api decrypt the token getting the expiration date and request a new one if its expired... is that sufficient?

[2015-05-06 11:53] patrickjahns commented on #29
That results in a huge security issue. An attacker can then intercept any
token from your api and receive a valid new one by replaying previous
tokens...

Your approach renders any expiration useless and you might as well set the
expiration to several years, saving yourself the trouble of even checking.

Search around for jwt + refresh token for a secure approach to this issue.
It would be nice if

[2015-05-19 11:30] hussaintamboli opened #45 "How to invalidate token?"
Hello,

After I have gotten the token using `JWT_AUTH_URL_RULE`, how do invalidate it?

I wanna create an action for `/logout`. On logout I want the token to expire/become invalid

How do I do this?

[2015-05-20 09:56] hussaintamboli opened #46 "flask-jwt tokens from server side does not get decoded in angular-jwt on client side"
I am using Flask as a back end (api) and angularjs as a front end. For JWTs I am using Flask-JWT in my api. And I was trying to configure angular-jwt in my front end

On login, I call /api/v1/auth (JWT_AUTH_URL_RULE) from angularjs app and I get the token. e.g.

     eyJhbGciOiJIUzI1NiIsImV4cCI6MTQzMjExNTAzMiwiaWF0IjoxNDMyMTE1MDAyfQ.eyJ1c2VyX2lkIjoxfQ.dmwvvgDinqWojmZ9ff1wHk_gDYM-dXNG-uTrabY9fFM

T

[2015-05-20 12:17] sureshjoshi commented on #46
Hey, the JWT is base64 encoded, so you'd need to use a base64 decode to get the information stored in the first two parts of the JWT (the 3rd part is the secure sign).

So, for your example (https://www.base64decode.org/):
The first part of the JWT gives ('part' being the data up to the first period)
{"alg":"HS256","exp":1432115032,"iat":1432115002}

And the second part gives (between first period

[2015-05-20 12:20] sureshjoshi commented on #45
There is no vanilla way to invalidate tokens on the server side. On the client side, a /logout should simply delete the token (refer to Satellizer - https://github.com/sahat/satellizer).

To implement an invalidate on the server side, you'll need to use a short token expiration followed by a refresh token feature (https://stackoverflow.com/questions/3487991/why-does-oauth-v2-have-both-access-and-r

[2015-05-20 12:37] sureshjoshi commented on #42
What about just using
from flask.ext.jwt import generate_token ?

I use it to send out custom payloads.

[2015-05-20 12:56] hussaintamboli commented on #45
Thanks for the resources.

From what I have read in #29, there is no way to invalidate tokens. Also suppose I generate some tokens by calling /api/v1/auth again and again, all the tokens will stay active until the expiration time. And I guess user1 will be able to use the token generated by user2 :(

I'll definitely ask these kind of queries on Stackoverflow next time.

[2015-05-20 21:44] sureshjoshi commented on #45
This is the purpose of a refresh timer and short expirations on JWTs.

[2015-05-21 07:20] fernandojsg commented on #42
Hi @sureshjoshi thank you for your answer, but at first I tried to do that:
```from flask_jwt import jwt_required, current_user, generate_token```
but I just realized that my version doesn't include the ```generate_token``` function defined.
I uninstalled it and installed again, but it just keep taking the same code :/
It's like if it's downloading the following version of the code:
https://github

[2015-05-21 07:27] fernandojsg commented on #42
Ok I just found that pip is not the lastest version, I should manually install using git :-1:

[2015-05-21 07:27] fernandojsg commented on #38
+1

[2015-05-21 07:35] fernandojsg commented on #42
Related to https://github.com/mattupstate/flask-jwt/issues/38

[2015-05-21 07:35] #42 closed

[2015-05-26 16:37] s4p0 opened #47 "HMAC(key, msg, digestmod) - key: expected bytes or bytearray, but got 'NoneType'"
I'm getting the following error, however if I run the example it works quite good!
Then, I don't know if I'm doing something really wrong (as solo, it works!) or is some kind of bug, somehow.

[code]

my directory structure is as follows:
- app.py
- main.py
- auth.py

where app.py has:
[code]

auth.py:
[code]

and main.py:
[code]

[2015-05-26 18:21] mattupstate commented on #47
Looks like you didn't specify a secret key.

[2015-05-26 18:36] s4p0 commented on #47
Sorry.
But for this version I had it removed.

I´ve tried both:
[code]

[2015-05-26 18:37] s4p0 commented on #47
Why did I close it? sorry guys

[2015-05-26 18:38] mattupstate commented on #47
You need to set `app.config['JWT_SECRET_KEY']`

[2015-05-26 18:53] s4p0 commented on #47
Shit! That was the issue. Thanks a lot @mattupstate.
However, I don't remember seen anything about ``` 'JWT_SECRET_KEY' ``´ on docs.
Weird that solo it works fine.

Anyway, thanks a lot!

[2015-05-26 18:53] #47 closed

[2015-06-22 10:01] bangive commented on #29
I saw an implement here [Blacklisting JSON Web Token API Keys](https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/)

[2015-06-26 03:26] bangive commented on #41
please you fix this soon

[2015-06-26 03:51] bangive commented on #45
This link describe a way to invalidate token [black list json web token](https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/) using aud and jti claim.

[2015-06-29 08:42] s4turnight commented on #29
+1
case 1-- 60 mins expiration: a user logs in at 5:00, stays browsing for one hour, and will be prompted for another login then.
case 2 -- 24 hours expiration: a user logs in at 5:00 today, and when he started browsing, e.g at 4:58 tomorrow, auto-login, but he will soon need another login in 2 mins.

[2015-06-30 03:21] s4turnight commented on #29
you can use something like this, works, thought not sure about its potential risk:

from flask.ext.jwt import verify_jwt, current_user
@app.route('/auth/refresh', methods=['get'])
def refresh_token():
    verify_jwt()
    payload = jwt.payload_callback(current_user)
    new_token = jwt.encode_callback(payload)
    return jwt.response_callback(new_token)

[2015-07-01 01:55] bangive commented on #29
@s4turnight i think your code does not delete the old token so the old token can still be used.

[2015-07-01 12:50] rlam3 commented on #29
Where exactly are the tokens anyways? How does your app know where to put them?

[2015-07-01 15:31] jimfulton opened #49 "Setting JWT_VERIFY_EXPIRATION to false fails with UnboundLocalError"
Because result is only set in one branch in _default_decode_handler.

[2015-07-12 04:52] minhoryang commented on #41
+1 to all awesome guys in here!!

[2015-07-13 18:56] mattupstate commented on #41
For all interested parties, please review the [pwjwt branch](https://github.com/mattupstate/flask-jwt/tree/pyjwt)

[2015-07-14 07:42] jarmani commented on #41
Looks good at first glance, but I'm not fan of the user => identity renaming.

[2015-07-14 13:26] mattupstate commented on #41
@jarmani lately I feel like `identity` is a better, abstract, word than `user` because tokens don't necessarily represent a user in every application.

[2015-08-03 08:52] f0t0n commented on #38
Could you please release the latest stable version on PyPI?
I want to auto-renew and issue new fresh token for client on request. I would use `generate_token` function imported from `flask_jwt` but it's not on PyPI yet.

So that for now in my Flask-Restful appliction I have to use dirty workaround like listed below:

[code]

[2015-08-03 15:07] mr337 commented on #38
+1 still :(

[2015-08-03 15:10] mattupstate commented on #38
I've made a few improvements, but have yet to receive much feedback from users. See pull #51

[2015-08-20 18:57] arcivanov commented on #38
The #51 seems to be essential with migration to JWT and default handlers. Is it possible to release this ASAP at least as beta or a dev version?

In general it's unclear why such a long non-agile release cycle would be at all desired.

[2015-09-04 04:56] aabmass commented on #46
@hussaintamboli was definitely having the same problem as issue #40. BTW, he isn't trying to decode the JWT himself; `jwtHelper` is from `angular-jwt` (an angularjs module). The issue is that `jwtHelper` looks for the `exp` field in the payload, not in the header where `flask-jwt` is putting it.

[2015-09-25 06:55] maangulo12 commented on #43
+1
I am having the same issue.

[2015-09-25 12:07] flazzarini opened #53 "How to mock jwt_required"
I was curious to know if anyone has figured out how you would mock  `jwt_required` decorator. In my unittests I would prefer not having to authenticate with my application. I thought setting the `config` variable `JWT_VERIFY` to `False` would solve the issue, but as far as I understood the source this variable is never checked.

Thanks for your help.

[2015-10-11 16:47] rchampa opened #55 "How handle a token?"
I'm new using JWT so I run the example where I find in docs. I read this https://auth0.com/blog/2014/01/07/angularjs-authentication-with-cookies-vs-token/ to get a better understanding of JWT.

But now I wonder how I should handle more than one token?
I mean, a user post his credentials to "/auth" and then return a token to a client.
When the client send a new request he should sent the token.

My

[2015-10-12 08:27] rchampa commented on #55
I figure out this is a silly question. sorry.

[2015-10-12 08:27] #55 closed

[2015-10-12 13:30] rchampa commented on #37
Hi @jonny166 I'm trying your code but e is always a KeyError type and never JWTError. Did you have an extra setup that I could miss?
I want JWTError because I would like the reason of error.

[2015-10-12 14:12] jonny166 commented on #37
Not sure I follow.  The wrapper class is just designed to let the JWTErrors fall through Flask-Restful.  You still have to define handlers for them using the @jwt.error_handler decorator.

If you have KeyErrors that you need to allow to fall through Flask-Restful as well, then you could add another case in the Api wrapper class like I did for JWTError.  But I suspect you might be better off handli

[2015-10-12 14:18] rchampa commented on #37
I have already try with and without @jwt.error_handler decorator.

@jwt.error_handler
def error_handler(e):
    data =  {
                "code":e.status_code,
                "message":e.error+" "+e.description
            }
    return jsonify(data), 400

[2015-10-12 14:21] jonny166 commented on #37
What does your wrapper class look like and what error are you getting?

[2015-10-12 14:31] rchampa commented on #37
This is what i have already try http://stackoverflow.com/questions/33083105/flask-jwt-and-flask-resftul-error-handling

I'm trying to share code though github.

[2015-10-12 14:46] rchampa commented on #37
My jwt implementation https://github.com/rchampa/timetable/blob/master/my_jwt/my_jwt_setup.py
My restful implementation https://github.com/rchampa/timetable/blob/master/my_flask_restful/FlaskRestfulJwtAPI.py
My api https://github.com/rchampa/timetable/blob/master/restful/users.py

[2015-10-14 17:29] raptoria commented on #29
+1

[2015-10-15 15:41] mattupstate commented on #49
New version should fix this

[2015-10-16 13:15] svenstaro commented on #38
Looks like this could be closed?

[2015-10-16 13:32] f0t0n commented on #38
But #51 is not live yet. :/

[2015-10-16 14:16] #38 closed

[2015-10-19 13:42] mayantigo opened #58 "AttributeError: 'NoneType' object has no attribute 'get'"
Hi!.

Im running exactly the example of GitHub. When I try get the token the log tell me this:

  File "C:\Python34\lib\site-packages\flask_jwt\__init__.py", line 114, in _def
ult_auth_request_handler
    username = data.get(current_app.config.get('JWT_AUTH_USERNAME_KEY'), None)
AttributeError: 'NoneType' object has no attribute 'get'

Im checking the code and I see nothing
Is exactly the same cod

[2015-10-19 13:59] mattupstate commented on #58
You are most likely sending an incorrect HTTP request to your server. Make sure the `Content-Type` header is set to a JSON content type like `application/json` and make sure the request body is a JSON formatted string.

[2015-10-20 08:31] mayantigo commented on #58
That is exactly what is happening.

Thank you very much!.

[2015-10-20 08:31] #58 closed

[2015-10-23 01:05] dorianpula commented on #41
@mattupstate Just to follow-up, is this still an issue with the latest release 0.3.0? (I'm hoping I can use that instead of using the pyjwt branch.)

[2015-10-23 09:15] rlam3 commented on #41
@dorianpula +1

[2015-10-23 11:24] mattupstate commented on #41
This has been addressed in the new release. I should have deleted the pyjwt
branch after I released it.
On Oct 23, 2015 5:15 AM, "rlam3" <notifications@github.com> wrote:

[2015-10-23 11:50] dorianpula commented on #41
@mattupstate Thanks for getting back so quickly and fixing the issue!

[2015-10-23 14:57] #41 closed

[2015-10-23 14:58] mattupstate commented on #46
Care to upgrade and see how things go?

[2015-10-23 14:59] mattupstate commented on #43
Care to upgrade and see if this is still a problem? Bear in mind there are some breaking changes, so please refer to the docs.

[2015-10-23 15:02] #34 closed

[2015-10-23 15:02] #33 closed

[2015-10-23 15:21] f0t0n commented on #29
For now I use `Fresh-Token` header in my API responses so client should not call `/auth` endpoint every time it's expired but on each response has new fresh token generated on backend.
So in this way I just set the token to expire in 3 minutes but if user is still active in the client-side application, it will receive fresh token in responses and have an experience of "continuous session".
And add

[2015-10-27 02:19] vimalloc commented on #29
+1

[2015-10-28 05:36] hussaintamboli commented on #46
Sure. I'll do that and let you know.

[2015-10-30 14:16] bechampion opened #60 "JWT activity based expiration"
Hi there.
Quick question , is there a way to "reset" a token expiration time based on activity?
in the sense that token should not expire after timeout if it's being used...
i see this parameter in other implementations "JWT_ALLOW_REFRESH'"

Thanks!

[2015-10-30 19:52] f0t0n commented on #60
@bechampion related to #29.

[2015-11-03 11:03] boromil opened #61 "IndexError: list index out of range on Authorization header set to empty string"
full stack trace:
<pre>
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1836, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1820, in wsgi_app
    response = self.make_response(self.handle_exception(e))
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py",

[2015-11-03 14:43] #61 closed

[2015-11-13 19:55] xiaw61 commented on #49
It still doesn't work for me.

Which commit did you try to fix the problem? thx

[2015-11-13 20:04] xiaw61 commented on #49
In current code, we don't use JWT_VERIFY_EXPIRATION to set the expiration, right?

[2015-11-13 20:06] jimfulton commented on #49
Apologies for not finding time to check this yet. :(

[2015-11-19 10:11] arteme opened #65 "Why have JWT methods been prefixed with "jwt_"?"
As a part of 0.3 branch and migration to PyJWT a number of JWT methods got renamed, prefixed with 'jwt_' and others have not:

| 0.2 | 0.3 |
| --- | --- |
| authentication_handler | authentication_handler |
| identity_handler | identity_handler |
| error_handler | **jwt_**error_handler |
| request_handler | request_handler |
| encode_handler | **jwt_**encode_handler |
| decode_handler | **jwt_**de

[2015-11-26 12:55] exhuma opened #66 "Unhelpful error when JWT_SECRET_KEY is not set."
If no secret key is set (that is, `None`), the following error is reported:

[code]

A more helpful message would be nice.

[2015-11-26 20:09] rlam3 opened #67 "authenticate and identity must be created and imported prior to jwt.init_app? better way for application factory?"
authenticate and identity must be created and imported prior to jwt.init_app? is there a better way for application factory?

[code]

[code]

[code]

[2015-12-07 20:41] raptoria commented on #65
+1.. I was trying to figure out why I kept getting AttributeError: 'JWT' object has no attribute 'payload_handler'

[2015-12-29 12:47] hussaintamboli commented on #46
Apologies :(

Haven't found time to check this yet.

[2015-12-29 12:48] hussaintamboli commented on #29
+1

[2015-12-29 13:06] hussaintamboli commented on #45
@bangive But how does it work with flask_jwt?

[2016-01-04 12:16] bangive commented on #45
Sorry i don't know

[2016-01-15 03:56] hoatle commented on #65
+1 for removing the `jwt_` prefix, I got the same problem.

[2016-01-27 18:05] vimalloc opened #74 "Internal Server Error when app.debug = False"
When I have debug = True in the flask application, and I make a call to a jwt protected endpoint without an access token I get the following back:

[code]

However, when I try the same thing with debug = False, instead I get this:

[code]

And in the logs, I see:

[code]

As far as I can tell, the jwt.init_app() function is registering a custom error handler for JWTErrors in the flask app, however

[2016-02-03 14:50] howesb commented on #53
I managed to patch it with something like this

[code]

[2016-02-14 04:04] jobevers opened #77 "Better document what the authentication handler should return"
The [current docs](https://pythonhosted.org/Flask-JWT/index.html#flask_jwt.JWT.authentication_handler.) specify that the authentication handler "should return an object representing an authenticated identity." but its not clear what exactly that means.  Digging into [the](https://github.com/mattupstate/flask-jwt/blob/c27084114e258863b82753fc574a362cd6c62fcd/flask_jwt/__init__.py#L62) [source](http

[2016-02-17 01:43] #43 closed

[2016-03-04 15:39] jsamoocha commented on #53
@imtheoperator, I tried to do this, but am confronted with flask_jwt's `current_identity` being `None` in the method under test. I can see that `mock_jwt_required` is called, but `mock_identity_handler` in my test is never called. In your working example:
- Did your method under test actually use the `current_identity` local proxy?
- What version of flask_jwt did you use?

Thanks!

[2016-03-04 16:24] howesb commented on #53
@jsamoocha I see what you mean.  I wasn't using `current_identity` but I just created a new test and get the same behaviour as you:

Handler

[code]

Test using mock patches in previous comment (for **identity_handler**)

[code]

Gives

[code]

So, yes, a solution would be useful!

[2016-03-06 12:06] jsamoocha commented on #53
Ok, the following seems to be working now for a handler as mentioned above:

[code]

[2016-03-08 15:14] jakubczaplicki commented on #65
+1 same as @raptoria . I am glad I found this ticket.

[2016-03-11 00:34] antocaso opened #80 "Internal Server Error instead of Bad Request making a wrong request to the auth resource"
This is a small issue:
making a wrong request to the auth resource, like sending a form data instead of json data, an Internal Server Error  occurs. I think that Bad Request  may be a better response. I saw your code, _default_auth_request_handler method in details, but i didn't found the problem.

[2016-03-21 19:59] srlopez opened #81 "Parameters in yaml, crash functions with @jwt_required() decorator"
I write this issue [https://github.com/KarimJedda/connexion_jwt_example/issues/2](https://github.com/KarimJedda/connexion_jwt_example/issues/2) in the example using flask-jwt with Swagger api description.

I see that writing parameters in swagger api.yaml file, and decorating the controller with @jwt_required() the app crashed.

This is part of the  yaml api description file,

[code]

and this is

[2016-03-23 03:40] aguegu commented on #37
Thanks @rchampa .

I have got a simpler example for this:

https://stackoverflow.com/questions/34217728/flask-restful-api-authorization/36169320#36169320

[2016-03-24 17:15] arher commented on #74
Hi, you just need to activate the PROPAGATE_EXCEPTIONS configuration in the Flask app. (which is activated automatically when debug is set to True)

`app.config['PROPAGATE_EXCEPTIONS'] = True`

and you will get the messages again...

[2016-03-24 18:02] vimalloc commented on #74
D'oh! I wasn't aware of that flask option. Thanks for info! :)

[2016-03-24 18:02] #74 closed, assigned to nobody

[2016-04-03 10:37] jrhite opened #82 "cannot import exception types"
I'd like to be able to catch `ExpiredSignatureError`, `DecodeError` and other specific exceptions and do something meaningful with them, but they aren't exposed for import. I can only import `JWTError`, but I see more specific exceptions 'escaping' (eg: `DecodeError`).

Further on an expired signature for example, internal to flask-jwt a `ExpiredSignatureError` is generated, but is later exposed e

[2016-04-17 00:09] mtourne commented on #29
inspired by the answer from @f0t0n, but without using flask-restful.

I made a decorator that would require and reissue a new token, to be used anywhere I'd normally use @jwt_required()

[code]

[2016-04-27 09:42] howesb commented on #29
@mtourne In the absence of OAuth-style refresh token support, I like this approach but I'm unclear on how you would use it to decorate a handler. I guess the `func` arg in your decorator is the handler function? Could you add a (trivial) example?

[2016-05-03 21:52] brad-hays-mentor commented on #81
I see the same behavior with any decorator.

[2016-05-15 00:26] mtourne commented on #29
Updated version :

[code]

Example:

[code]

[2016-05-17 15:39] rlam3 commented on #67
@mattupstate love to get your input on this. Thanks!

[2016-05-17 17:08] rlam3 commented on #29
when using flask-jwt... should i need to send API Key every time too? or how does API key work with flask-jwt in this case?

[2016-05-25 05:35] yaoelvon commented on #29
+1

[2016-05-25 16:02] CptSpaceToaster opened #88 "Default handler returns Bad Request, but default error code is 401"
https://github.com/mattupstate/flask-jwt/blob/master/flask_jwt/__init__.py#L113-L128
and
https://github.com/mattupstate/flask-jwt/blob/master/flask_jwt/__init__.py#L182-L193

401 is Unauthorized
400 is Bad Request

401 Bad Request is not a thing.

https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1

It looks like the default was changed in this [commit](https://github.com/mattupstate

[2016-06-01 15:53] rlam3 opened #89 "What is the timezone / jwt expiration that is being passed into the token?"
What is the timezone / jwt expiration that is being passed into the token?

I'm having trouble with validating the expiration date on a swift app end. The swift app side says it is expired even when it was just recently updated.

[2016-06-20 16:25] mik-rom opened #91 "Custom authentication parameters / token based authentication?"
In my app I want to be able to use just a custom login token (on app start) to authenticate and get a JWT token. Right now as far as I know a username and password is required, is there any way to change this?

[2016-06-23 05:46] dequis commented on #89
From the docs:

Check your clock.

[2016-06-26 18:59] CptSpaceToaster commented on #88
Currently able to use this as a workaround:

[code]

The inverse status code dictionary can be used to lookup the _correct_ status code, and we can re-write the default error handler.

[code]

Note, I'm currently using flask-api.  Other flask users likely have to pass the return dictionary into `jsonify()`

[2016-07-04 14:57] p2 commented on #80
Server also crashes when no data is posted:

[code]

[2016-07-29 02:13] songLingiOS1 opened #93 "how to use flask-jwt ? help me,thanks!"
from flask import Flask
from flask_jwt import JWT, jwt_required, current_identity
from werkzeug.security import safe_str_cmp

class User(object):
    def **init**(self, id, username, password):
        self.id = id
        self.username = username
        self.password = password

[code]

users = [ User(1,'user1','abcxyz'),User(2,'user2','abcxyz'),]

username_table = {u.username: u for u in users}

[2016-07-29 20:24] goterpsgo opened #94 "Can this be used with Python v2.6.x?"
I'm working on a project that requires using Python v2.6.6 on Centos 6.x. I am using the sample code published by this repo (https://github.com/mattupstate/flask-jwt/blob/master/example/app.py) and python is returning a syntax error from __init__.py:

<pre>Traceback (most recent call last):
  File "./wsgi.py", line 1, in <module>
    from main import app as application
  File "./main.py", line 5,

[2016-08-01 18:05] goterpsgo commented on #94
I was informed elsewhere this was indeed the case. I also was able to compile python v2.7.x from source and install it in a custom directory so this issue is now OBE.

[2016-08-01 18:05] #94 closed, assigned to nobody

[2016-08-03 12:26] rlam3 commented on #89
@dequis Thanks. So this is based on UTC time correct? Not on my machine's. Also another question is, what is the recommended time delta for the expiration? How often should there be the user need a new token?

[2016-08-10 14:58] stone7890 commented on #93
"username " must be "username"
"password " must be "password"

[2016-08-10 15:02] stone7890 commented on #91
you can use function jwt_encode_callback to get jwt token.

`def _default_jwt_encode_handler(identity):
    secret = current_app.config['JWT_SECRET_KEY']
    algorithm = current_app.config['JWT_ALGORITHM']
    required_claims = current_app.config['JWT_REQUIRED_CLAIMS']

[code]

[2016-08-10 15:07] stone7890 commented on #89
view flask-jwt, i see this line.

`iat = datetime.utcnow()`

[2016-08-12 16:08] rlam3 commented on #89
@stone7890 Thanks! Do you know if we should be storing these jwt in a backend? And also, about how long should a jwt expire?

[2016-08-27 20:05] felipear89 commented on #65
I don't know why the methods were renamed but. We need to approve mr #87 or update documentation :)

[2016-09-04 14:54] shlomibs opened #96 "authentication handler doesn't support empty passwords"
In _default_auth_request_handler() function, empty passwords are filtered out by the `criterion = [username, password, len(data) == 2]` list.
This can be easily solved by changing the `password` criteria to `password is not None`

[2016-09-07 03:12] rlam3 opened #97 "When using flask-jwt how to exempt flask-wft CSRF for POST requests??"
When using flask-jwt how to exempt flask-wtf CSRF for POST requests??

Would love a guide into how to use flask-jwt and flask-wtf together but have csrf exempt from the authentication using the application factory approach. Thanks!

[2016-09-07 12:49] rlam3 commented on #29
@mtourne Based on your example, when the token expires due to inactivity, how would you refresh the token? Thanks!

[2016-09-13 17:10] vimalloc commented on #29
I would like to see this feature. It would be nice to have something built in where I could generate long lived refresh tokens (that only worked to get normal tokens, not to have access to the entire endpoints), and then use the short-lived normal tokens for consuming the api.

[2016-09-14 19:20] vimalloc opened #98 "Claims are not validated"
Issue is here:
https://github.com/mattupstate/flask-jwt/blob/master/flask_jwt/__init__.py#L78-L91

Setting the require and verify in the options does not actually make pyjwt verify those claims, they are simply ignored by pyjwt. If you wanted to do those verifications, you would need to decode the token first, and manually check if the keys are present

[2016-09-17 18:58] skirdey opened #99 "_default_auth_request_handler() Doesn't check for NoneType request.get_json()"
1. Send POST request with no payload to /auth
2. Flask will return 500 Internal server error, in the debug mode it shows
   AttributeError: 'NoneType' object has no attribute 'get'

[2016-09-19 15:23] rlam3 commented on #29
After reading stormpath's approach and several other publications it seems like the best way to refresh the JWT is to provide a "refresh_token" during authentication and every time a new "access_token" is given to client side.

[code]

The refresh_token can be used later to provide to server side to be consumed and provide a new "acess_token" again with a "newer refresh_token".

Would love some fe

[2016-09-19 16:19] vimalloc commented on #29
I've created a new flask-jwt extension which provides optional refresh tokens and optional revoking/blacklisting tokens baked in. It also has the idea of 'fresh' tokens, so when you first login you can access some critical views with your token (such as resetting a password), but subsequent tokens created with the refresh token wouldn't be able to access that view, until they re-authed and got a n

[2016-09-19 16:37] rlam3 commented on #29
@vimalloc Awesome man! Thanks I'll definitely be following your jwt-extended.

[2016-09-21 15:45] vimalloc commented on #99
Perhaps check out https://github.com/vimalloc/flask-jwt-extended. It provides more leeway in this regard, as you define your own endpoint for authing, and once your code has run, you can use functions like 'create_access_token' or 'create_refresh_token' to generate the JWTs, and return them in whatever way works for you. It also supports refresh tokens, revoking tokens, and fresh/unfresh tokens ou

[2016-09-21 16:45] skirdey commented on #99
Hey @vimalloc, I think I got a little lost in the forks of the current project. It seems like there are a lot of outstanding PRs. Thanks for mentioning flask-jwt-extended, seems interesting and I will give it a shot!

[2016-09-21 16:46] vimalloc commented on #99
Glad to hear it! :) If you can think of any ways to improve upon it, I would love to hear them. Cheers.

[2016-09-24 18:09] mtourne commented on #29
@rlam3 I haven't really implemented that part but in that example, you'd basically have the client check the token for expiration periodically and if the expiration time is close you'd hit the endpoint that triggers a token refresh.

Alternatively you could ask the user's input with some kind of "you're about to get logged out yes/no" ui dialogue, if you wanted to conditionally refresh the token.

[2016-10-15 12:53] laranicolas opened #102 "Payload callback"
Hey, I'm trying to overwrite the default payload_callback but I can't, what I'm doing wrong?

[code]

I would expect to see in payload next result:

`{'iat': iat, 'exp': exp, 'nbf': nbf, 'id': u.id, 'role': u.role}`

[2016-10-15 14:21] vimalloc commented on #102
Looking at the default payload creating method, it looks like it expects 'identity' instead of 'id' for the key. That might be the problem.

Alternatively, perhaps checkout flask-jwt-extended. It's designed to make a few things llke this easier to do: http://flask-jwt-extended.readthedocs.io/en/latest/add_custom_data_claims.html (I am the author of that extension).

Hope this helps!

[2016-10-15 17:20] laranicolas commented on #102
Hey thanks for answer!

But I never see on the console the string `print YEAH`, could be decorator not be working?

Other things are working correctly, but I want to overwrite the payload.

[code]

[2016-10-15 18:50] vimalloc commented on #102
I think you need to change it from jwt_payload_callback to
jwt_payload_handler.

On Oct 15, 2016 11:20 AM, "Nicolás Lara" notifications@github.com wrote:

[2016-10-15 20:07] laranicolas commented on #102
Sorry, yes I'm using `@jwt.jwt_payload_handler`, but also is not working, any idea?

[2016-10-15 20:13] vimalloc commented on #102
I dont, sorry. It's been a while since I used this library, and with all the open issues and pull requests it looks like it isn't being maintained at the moment either, which is why I made the flask_jwt_extended library. If you end up trying the flask_jwt_extended library and had issues there I would be able to help further.

Best of luck getting this working, the source code for this library isn'

[2016-10-15 20:19] laranicolas commented on #102
Thanks anyway for the predisposition to answer. I already see the code, but for the moment I didn't see a decorator for jwt_payload_hanlder, I will continue debugging if couldn't I will try to use your extension!

[2016-10-16 14:14] laranicolas commented on #102
@vimalloc I will remove flask-jwt use your extension!

[2016-10-16 15:11] vimalloc commented on #102
I hope it helps you out :) It's still a relatively new extension, so if you run into any oddities, issues, or missing features, please let me know.

[2016-10-16 15:16] laranicolas commented on #102
I just found an issue, I will write you on flask_jwt_extended github.

[2016-10-17 19:46] #97 closed, assigned to nobody

[2016-10-28 22:23] vimalloc opened #104 "Looking for maintainer."
It looks like the current author is looking for a maintainer of this software: https://twitter.com/mattupstate/status/790184050640162816. I wrote another jwt flask extension that offers what this extension does, plus some extra goodies on top:
- refresh tokens
- token blacklist
- fresh vs non-fresh tokens, with seperate endpoints only fresh tokens can access
- option to store tokens in cookies and

[2016-11-01 17:39] dusktreader opened #105 "Raise exception when SECRET_KEY is not set in application configuration"
If the SECRET_KEY field is not specified, you get a really cryptic exception from pyjwt as follows:

[code]

An exception should be raised in init_app if that configuration is not set

[2016-11-02 04:25] dusktreader commented on #104
@vimalloc (cc @mattupstate): I've just started on a package that is dependent on flask-jwt called flask-praetorian (https://github.com/dusktreader/flask-praetorian). I am considering adopting flask-jwt if there doesn't seem to be any interest from other folks in taking over maintainership.

[2016-11-10 07:14] hirecom opened #106 "Get current_identity outside of the @jwt_required"
I'd like to get the current_identity in routes where authorization is not required.  For instance a list of news items, if they are logged in they can comment, otherwise no commenting allowed.

Is there another way to get the current_identity of a user *if* they are logged in from a route that's not decorated with @jwt_required?

[2016-11-10 08:34] jarmani commented on #106
Quick hack by implementing your own decorator :

[code]

then :

[code]

[2016-11-10 16:16] hirecom commented on #106
👍  Wow - thanks!  I'll give it a try tonight!

[2016-11-10 19:46] Bencyril opened #107 "how use JWT_VERIFY_EXPIRATION"
my config is :
JWT_AUTH_URL_RULE = "/api/v1/auth"
JWT_VERIFY_EXPIRATION = False

I use token for my mobile app. I want that my token never expired, but it doesn't work.

Do you have an idea ?

[2016-11-11 00:50] hirecom commented on #106
@jarmani - Awesome, this worked great!

[2016-11-15 14:05] Alain1405 opened #108 "Documentation error"
The example for the [header_handler](https://github.com/mattupstate/flask-jwt/blob/c27084114e258863b82753fc574a362cd6c62fcd/flask_jwt/__init__.py#L353-L357) is a copy-paste of pauload_handlers example:

[2016-12-20 19:10] diegovini-zz opened #110 "LDAP authentication"
Hi guys,
I need to authenticate my users in Active Directory before they can use my REST API.

After beeing authenticated, I need to pass them the jwt.

Is it possible to do it using Flask-jwt?
It not, any ideias how I can implement that?

Thx!

[2016-12-20 19:27] vimalloc commented on #110
Perhaps consider using [Flask-JWT-Extended](https://github.com/vimalloc/flask-jwt-extended) (full disclosure, I'm the author of that extension). Instead of having a predefined endpoint that is POSTed to in order to login, you create your own endpoints and use the ```create_access_token(identity)``` function once you have handled authentication to  generate the jwt.

You can see an example of what

[2016-12-22 17:05] diegovini-zz commented on #110
Thanks for the answer!

It worked! =)

[2016-12-25 06:09] vimalloc commented on #110
Glad that helped. If this is solved for you, would you mind closing the issue? Thanks!

[2016-12-31 08:13] paulsoh commented on #107
I also needed this feature and after taking a look I noticed that the `JWT_VERIFY_EXPIRATION` part isn't implemented right now. I am working on it on a forked version.

[2016-12-31 17:02] vimalloc commented on #107
This project has basically been abandoned it seems. Perhaps check out https://github.com/vimalloc/flask-jwt-extended instead (full disclosure, I'm the author). It can do (basically) unlimited length access tokens right out of the box, but it has a bunch of other built in goodies to make working in these situations more secure.

In flask-jwt-extended, if you just need a token that lasts forever, yo

[2017-01-05 02:31] johndiego opened #112 "Example return specificy Json with token!"
In Documentation are
`def _default_auth_response_handler(access_token, identity):
   return jsonify({'access_token': access_token.decode('utf-8')})`
how i can return User wiith acess token?
thanks for advanced!

[2017-01-05 03:19] vimalloc commented on #112
Perhaps check out Flask-JWT-Extended (https://github.com/vimalloc/flask-jwt-extended), it make doing stuff like this a breeze (full disclosure, I'm the author of the extension).

Here are examples of how this would be accomplished in that extension:
http://flask-jwt-extended.readthedocs.io/en/latest/add_custom_data_claims.html
http://flask-jwt-extended.readthedocs.io/en/latest/tokens_from_complex_

[2017-01-05 21:22] johndiego commented on #112
I  installed this is my code!
my server.py
[code]
I run the command
 python server.py

[code]

**How i can used?**

[2017-01-05 21:42] vimalloc commented on #112
The ```@jwt.user_claims_loader``` is part of a totally different extension, flask-jwt-extended (instead of this extension, which is flask-jwt). You would need to migrate your code to that extension for it to work. These links explain the basics flask-jwt-extended:

http://flask-jwt-extended.readthedocs.io/en/latest/installation.html
http://flask-jwt-extended.readthedocs.io/en/latest/basic_usage.ht

[2017-01-08 00:28] johndiego commented on #112
My code

[code]

[2017-01-09 03:22] aguegu commented on #65
It seems that the author has abandon this repo.

[2017-01-09 22:35] carc1n0gen opened #113 "Identity handler 'User' object is not callable"
I've set up a minimal flask app to test jwt.  My authenticate handler works fine, but my identity handler keeps raising `TypeError: 'User' object is not callable`

app.py
[code]

jwt.py
[code]

[2017-01-09 22:40] carc1n0gen commented on #113
Hah never mind.  It turns our I was trying to return the whole object from the flask view, which is a no go!

[2017-01-09 22:40] #113 closed, assigned to nobody

[2017-01-19 07:24] divyashan opened #114 "make question detection more robust"

[2017-01-19 07:25] #114 closed, assigned to nobody

[2017-01-19 07:25] divyashan commented on #114
Mistakenly added this issue on the wrong repo - my bad!

[2017-02-03 18:59] #110 closed, assigned to nobody

[2017-02-15 09:44] sobolevn opened #115 "AttributeError: 'dict' object has no attribute 'id'"
When passing `{'id': 'someId'}` into the `_default_jwt_payload_handler` it raises an exception.

The problem is in this expression: `identity = getattr(identity, 'id') or identity['id']`
https://github.com/mattupstate/flask-jwt/blob/master/flask_jwt/__init__.py#L53

It must be: `identity = getattr(identity, 'id', None) or identity['id']`

[2017-02-16 23:51] jhonjairoroa87 commented on #53
Just a small update given the the current flask version, note that:
 - "jwt_required" has no underscode "_" at the begining
 - Now is "current_user" instead of "current_identity"

[code]

[2017-02-23 20:40] justindz opened #116 "Help? Using jwt_required() decorator correctly."
I am hoping to use flask-jwt for authentication to my RESTful API. Here is my setup:

`def authenticate(email, password):
    account = connection.Account.find_one({'email': email})

    if account and safe_str_comp(account.password.encode('utf-8'), password.encode('utf-8')):
        return account

    return None

def identity(payload):
    email = payload['identity']
    account = connection.Ac

[2017-02-23 20:58] justindz commented on #116
I amped up my logging level and I can see that the endpoint returns 401, but it still returns the JSON payload, so the client gets the information even though it's not authorized. Hope that helps clarify.

[2017-02-24 02:47] justindz commented on #116
Ah, I made a mistake on the client side that wasn't obvious, when interpreting the status responses. Total non-issue.

[2017-02-24 02:47] #116 closed, assigned to nobody

[2017-02-26 15:08] justindz commented on #107
Does flask-jwt-extended have (or can it have) support for the ability to extend a token expiration based on recent usage? I'd love to have tokens expire after X amount of time, but renew is they are used within that period (without requiring the client to obtain and use a new token, ideally).

[2017-03-05 19:01] jakubczaplicki opened #117 "A list of all JWT related error cases"
Would it be possible to generate a list of all JWT related error cases such as ["Invalid token", "Invalid JWT header", "Authorization Required"] together with their descriptions ["Signature has expired", "Not enough segments", etc] with an explanation of when each occurs ?

[2017-04-27 03:43] GeekOnGadgets opened #119 "Vulnerabilities found in PyJWT back in 2015"
Hi,

Thanks for awesome library. Just wanted to confirm something related to PyJWT library you are using in your project. Back in 2015 (https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/) Vulnerability issue was found with PyJWT not sure if that has been fixed now or still have to do a work around?  Can't find much information out there.

Sorry for creating this as a issu

[2017-05-04 12:42] Josscii commented on #66
+1, saved my day...

[2017-05-04 15:55] alexykot commented on #104
I'm not interested in maintaining this, but I'm pretty interested in having it up to date.
As far as I can see right now this extension is incompatible with current recent flask release (0.12), so I'll have to go look elsewhere or implement it myself. Whoever considers taking over this project - yes, there is interest in it, and I don't mind breaking changes as long as the version number is change

[2017-05-04 16:05] vimalloc commented on #104
With how long it has been without contact, I wouldn't hold my breath on this project being maintained again anytime soon. As an alternative, Flask-JWT-Extended is still growing and being maintained if you don't mind how opinionated it is (I'm the author, so I'm of course biased). If you want a way to just use simple JWTs for fast prototyping, at this point I think using pyjwt directly in your appl

[2017-05-04 21:51] dusktreader commented on #104
@vimalloc I already have an issue in flask-praetorian to see how well I can transition to flask-jwt-extended. It is pretty opinionated, but if the api is pretty similar and I can use it in a light-weight way, that will work for me

[2017-05-05 16:20] alexykot commented on #104
I've switched to Extended. However for naming simplicity I would very much prefer Extended to take over this project, merge and rebrand into single functional and well supported `flask-jwt`.

Also, the Extended docs claim that asymmetric algorithms are not currently supported, but practically they actually are supported pretty well by underlying libs and only the Extended itself cannot handle the

[2017-05-24 01:18] yunderboy commented on #119
@GeekOnGadgets do you know whether this project is still going?

Thanks

[2017-05-24 01:42] GeekOnGadgets commented on #119
@yunderboy I don't think so. use https://github.com/vimalloc/flask-jwt-extended

[2017-05-24 03:34] vimalloc commented on #119
Not sure about this extension, but for what it's worth Flask JWT Extended is protected against this vulnerability.

[2017-05-24 19:49] yunderboy commented on #119
@vimalloc, cool! Any idea on how long you might be maintaining the extension, and would you happen to need some help?

[2017-05-24 19:52] vimalloc commented on #119
We use the extension at my job, so it will be maintained for quiet a while yet. And I would never turn down any help :+1:

[2017-06-20 18:46] dusktreader commented on #104
@vimalloc @alexykot I've elected to switch to using straight up PyJWT in my package flask-praetorian. I agree that flask-jwt-extended should probably just replace this package.

[2017-06-23 13:58] badZombi opened #120 "ok"

[2017-06-23 14:00] #120 closed, assigned to nobody

[2017-06-29 13:23] mayurpatil1211 opened #121 "Responce error"
When i log in it gives me token then i can access protected function using token. But when i terminate program and try to access protected function with same token it gives me **error 500** instead of **Authentication failed**.

[2017-07-12 10:24] ElChemso commented on #98
This should either be implemented or the description of it removed from the documentation.

[2017-08-11 11:55] chadwalt commented on #66
Wow after googling around with no luck, and I land on this post. Thank you, saved my day.

[2017-09-22 16:33] Garito commented on #106
Is this being added to the library?
I would like to have it officially

[2017-09-22 16:41] vimalloc commented on #106
This library has been abandoned for a while now. Check out [flask-jwt-extended](http://flask-jwt-extended.readthedocs.io/en/latest/basic_usage.html#partially-protecting-routes) (better if you are creating the JWTs in your flask app) or [flask-jwt-simple](http://flask-jwt-simple.readthedocs.io/en/latest/api.html#flask_jwt_simple.jwt_optional) (better if you are consuming tokens from another JWT pro

[2017-09-22 17:05] Garito commented on #106
Thanks

[2017-09-22 17:05] Garito commented on #106
By the way: could you modify the readme to point this fact?

[2017-09-22 17:09] vimalloc commented on #106
Nope, I don't have access to this repo (Flask-JWT). The owner has been AWAL for a while, and at this point it seems like the project has been entirely abandoned.

[2017-09-22 17:11] Garito commented on #106
Oh, boy...
That kind of things piss me off a lot
It makes a bunch of people lost their time...
I'm going to put an issue explaining that

Thanks

[2017-09-22 17:12] Garito opened #123 "THIS PROJECT IS ABANDONED"
It seems that the author and owner of the project don't event going to modify the readme pointing this
So don't lost your time with this library

[2017-10-10 18:19] asyncee commented on #123
Thanks for this comment. This is really important. Saved my time.

[2017-10-28 14:55] xcixor commented on #58
has to be JSON(application/json)

[2017-11-14 16:36] servomac commented on #123
Thanks for the info.

Any alternative maintained? This seems a viable alternative https://github.com/vimalloc/flask-jwt-extended

[2017-11-14 16:39] vimalloc commented on #123
I am the author of flask-jwt-extended. It will continue to be maintained for the foreseeable future.

[2017-12-09 12:41] daverbj commented on #115
I have a user model looks like this

[code]
instead of id I have ID in the object so I get

Is there any work around to use custom id field in identity object ?

[2017-12-09 21:06] sobolevn commented on #115
I have just created a class instead of a `dict` to store my `id` as a property.

[2018-03-10 17:58] efraintorlo opened #127 "Flask-jwt in GraphQL APIs"
Hi,

I'm just wondering if there is a known way to apply all the content of this module (token generation and authentication, decorators, etc.)  into a GraphQL API. Currently I'm struggling with myself on how to jwt-validate the graphql queries, mutations, etc,  and any comment or examples are very welcome.

@mattupstate I Apologies if  this is not an appropriated space to share my question, pleas

[2018-04-03 11:02] tommy-trombone commented on #66
Legend.

[2018-05-25 18:16] a-soliman commented on #66
+1, Thanks for this post.

[2018-06-08 18:53] aidik commented on #106
@Garito I'm sorry I don't want to start a flame, but I strongly disagree.

The authors of this and in fact any Open Source project are not responsible for anything including your lost time. It was their choice to create the project and they still retain ownership of the project and therefore are able to abandon it (ius dereliquendi) or even destroy it (ius abutendi). It was solely their goodwill t

[2018-06-09 10:10] Garito commented on #106
Yeah, I totally reevaluate my view: change of library, so long and thanks for all the fish

[2018-06-24 02:36] aijogja commented on #74
Is it secure to set `PROPAGATE_EXCEPTIONS` in production?

[2018-06-24 04:04] kurenai-ryu commented on #74
TBH it's more secure to raise a generic "internal error" than a descriptive one, but also it can help your users or even the rest of your code to understand why it failed

[2018-06-27 17:21] TheBrunoLopes commented on #123
Learned this the hard way. Using **flask-jwt-extended** is much better and simple.

[2018-07-27 16:27] tr0yspradling commented on #117
Yeah. This would be nice.

I get "Not enough segments" when I try to use an environment variable to insert my access token into the headers. I have to copy & paste it into the command every time or I get that error.

[2018-08-30 10:52] botnetdobbs commented on #123
I've learned the hard way.  From now henceforth I'm using flask-jwt-extended...,

[2018-09-16 16:35] jjjimenez100 opened #128 "Alternatives for this python package."
To anyone who's planning to try the repository, you can try [Flask-JWT-Simple](https://github.com/vimalloc/flask-jwt-simple) and [Flask-JWT-Extended](https://github.com/vimalloc/flask-jwt-extended) instead as alternatives for this repository. Both repositories offer easy access to JWT functionalities, without much of a hassle to be implemented with.

Took me around 2 hours to realize that the proj

[2018-10-05 00:03] goingforbrooke commented on #128
Flask-JWT-Extended is pretty nice so far.

[2018-10-20 15:40] klevamane commented on #66
Thanks alot @exhuma this worked for me

[2019-02-03 05:20] cugels opened #130 "Malformed header triggers errors rather than exception handling"
When sending a POST call to /auth, an errored header with junky fields, triggers a 500 server error. I assume that it should send back a response with the error code or some exception handling message.

To replicate this, type some junk into the key and value, then make a call. If you get the error I’m seeing, on a dev instance, the error handler spits out:

AttributeError: 'NoneType' object has n

[2019-02-03 05:34] vimalloc commented on #130
This project has been abandoned for quiet a while now. Perhaps check out flask-jwt-extended as an alternative. https://flask-jwt-extended.readthedocs.io/en/latest/

[2019-02-21 09:59] prameshbajra commented on #99
did anyone solve this error?

[2019-06-19 04:26] heckad opened #132 "What to do identity_handler?"
In example is present identity_handler but it is not used anywhere. Will current_user ever be added like in Flask-login?

[2019-06-25 07:39] alihen opened #134 "Provide different secret to decode function."
I'd like to pass in a different secret for some tokens I decode manually in the `[_default_jwt_decode_handler](https://github.com/mattupstate/flask-jwt/blob/master/flask_jwt/__init__.py#L74)`. I'm aware that I'd likely need to disable `JWT_VERIFY` and call the decode/verify each token myself on a request.

Is there any way to pass a secret as a parameter to any of the current decode methods?

[2019-07-03 12:20] #134 closed, assigned to nobody

[2019-08-21 05:10] Poovendranavs commented on #58
can anyone guide me how to build Bulk upload request and get output in Postman.

[2019-09-21 16:50] vinothkumar1097 opened #135 "Handle Payload from ws federation response"
Hi,

I have a flask app which is integrated with our company idp which runs successfully. Now i'm struggling to extract user details from saml response after successull login. In Response, im getting user details like name, mail-id. Could you guys direct me how to handle this.

Below is the response after login:
%3CRequestSecurityTokenResponseCollection+xmlns%3D%22http%3A%2F%2Fdocs.oasis-open.org%

[2019-10-18 08:30] markusEdelhofer opened #136 "Token - IndexError: list index out of range"
If I replace the token with an SPACE (" ") , I got this index out of range error. If I sent a singel other character everything works corecct and I got an error message!

[code]

[2019-11-04 07:14] chyok commented on #136
this is flask_jwt_extended [https://github.com/vimalloc/flask-jwt-extended](url)

[2020-02-03 19:58] Kartstig commented on #115
I'm also getting this error. I'm using [namedtuple](https://docs.python.org/3/library/collections.html#collections.namedtuple) as a workaround

[2020-03-23 10:50] Drvanon opened #140 "It is not clear from the documentation if the exp val is in seconds or milliseconds."
There are multiple sources on the internet suggesting that the value of the expiration date is milliseconds since epoch. For this reason in my client side code I assumed this, however in the actual communication it failed.

[2020-03-24 05:59] khirul opened #141 "user table without id as primary key"
i am using established database for my project. the problem is my user table  using user_id instead of id as primary key.. the system give this error AttributeError: 'UserModel' object has no attribute 'id'.. my question is how to tell identity to use user_id instead of id?

[2020-03-24 11:38] #141 closed, assigned to nobody

[2020-04-18 12:23] LaundroMat commented on #53
For anyone who ran into a similar issue, it's better to patch the function the decorator is calling instead of trying to mock the decorator itself.

See my [SO answer for details](https://stackoverflow.com/a/61289000/308204).

[2020-04-18 12:53] jsamoocha commented on #53
What I currently find a useful alternative is to separate business logic from stuff that relies on the application context, e.g.

[code]

Now you only need to unit test `_get(user_id)` without bothering about any Flask or JWT state/side effects.

[2020-05-07 11:26] tirkarthi opened #142 "Deprecation warning due to invalid escape sequences in Python 3.8"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/

[code]

[2020-11-16 19:15] ramanraja commented on #80
Sending the "Content-Type: application/json" header with the request solved the problem for me.

[2020-12-28 18:13] enricodvn opened #143 "'str' object has no attribute 'decode'"
Seems related to https://github.com/jpadilla/pyjwt/issues/529

Getting this error after the new dependency resolver on pip 20.3.

[2020-12-28 18:15] enricodvn commented on #143
To fix that I had to fix the pyjwt version on the requirements. Working with `pyjwt==1.7.1`

[2021-03-06 13:48] hyper750 opened #144 "Collection.Mapping deprecated for python +3.10"
When trying to use flask-jwt with a python version +3.10 (just importing `jwt`) returns an error, when trying to import collection.Mapping. Is using it inside the following files:

- api_jwt.py
- api_jws.py

For the version of python 3.9 only shows a warning when trying to import it:

[code]

For the version of python +3.10 the import should be change to the following

[code]

[2021-03-07 04:43] tirkarthi commented on #144
This seems to have been fixed in pyjwt which probably needs an update : https://github.com/jpadilla/pyjwt/commit/30d4c5a7f91e2425211b51c479f2f1e7a37f98b9

[2021-06-28 10:15] bartgenuit commented on #115
I would also like to use another property name, since `id` is a Python built-in function.

[2021-07-07 16:45] #144 closed, assigned to nobody

[2021-07-14 08:08] jakbin opened #146 "circular import"
Traceback (most recent call last):
  File "/home/dj/Desktop/Code/jwt.py", line 2, in <module>
    from flask_jwt import JWTs, jwt_required, current_identity
  File "/usr/local/lib/python3.9/dist-packages/flask_jwt/__init__.py", line 16, in <module>
    from jwt import *
  File "/home/dj/Desktop/Code/jwt.py", line 2, in <module>
    from flask_jwt import JWTs, jwt_required, current_identity
ImportE

[2021-09-20 09:56] raymonterola commented on #66
This really saved me. I've been debugging a test application that keeps showing this error for hours. Thanks.

[2021-11-25 04:08] Mukund-Tandon opened #147 "Using flask_jwt in my Flask App giving Error- ImportError: cannot import name 'Mapping' from 'collections'"
### Using Python 3.10
Complete error-
![Screenshot from 2021-11-25 09-34-40](https://user-images.githubusercontent.com/71614009/143378103-cbf38d8a-05a1-4a1d-9b63-da483a632139.png)

### app.py -
[code]

[2021-12-03 15:42] Aazerra commented on #147
the solution is the author of package `jwt` change import to `from collections.abc import Mapping` for python 3.10
P.S: i checked it seems they updated the package now this package need to bump PyJWT version @mattupstate

[2021-12-22 09:28] dedfft commented on #47
Thank you so much for how you solved your problem. It helped me with mine))

[2022-02-16 15:44] jmrsnt commented on #147
@Mukund-Tandon, same here

[2022-04-22 15:03] struts2spring opened #148 "support of pyjwt 2.3.0 with flask-jwt 0.3.2"
Hi
We need to update one method to support  pyjwt 2.3.0 with flask-jwt 0.3.2 , I have modified in my local with below code . I am using python 3.10 .

def _default_auth_response_handler(access_token, identity):
    return jsonify({'access_token': access_token})

[2022-06-09 08:47] Vishal1309 commented on #58
@mayantigo do you remember how exactly did you deal with this error? I cannot figure out the solution here

[2022-07-15 07:28] SaraFarron commented on #147
Same

[2022-11-19 03:59] sachin96Boy commented on #147
same, any solutions?

[2022-11-28 07:49] captnw commented on #147
I ran into this problem as well. I was using Python version 3.10.4 at the time.

I saw some other people having the same issue on Stackoverflow:
https://stackoverflow.com/questions/69381312/in-vs-code-importerror-cannot-import-name-mapping-from-collections

The top rated solution (credit to John R Perry and Geremia) was to change any instance of:
`from collections import Mapping`
to
`from collecti